h2 {
  padding: 1rem 0;
  font-size: 2.5rem;
  font-family: "Barrio", sans-serif;
  color: #e7ad2a;
}
.calculator-card {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.cheese {
  display: flex;
  justify-content: space-between;

  margin-top: 0.5rem;
}

.cheese-info {
  text-align: left;

  padding-left: 10px;
}

.cheese-name {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 3px;
}

.price-per-kilo {
  font-size: 0.8rem;
  color: #333;
  margin-bottom: 5px;
}

.price-selected {
  font-weight: bold;
  font-size: 1rem;
  padding-right: 1rem;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem 0.5rem 3rem;
}

.controls button {
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: orange;
  padding: 0.5rem 1rem;
}

.increment {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.decrement {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.divider {
  border-top: 1px solid #e7ca88;
}

.total-price {
  margin-top: 20px;
  font-size: 1.3em;
  font-weight: bold;
}
